asn1crypto==1.4.0
boto3==1.17.46
botocore==1.20.109
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cryptography==2.8
enum34==1.1.6
futures==3.3.0
idna==2.10
ipaddress==1.0.23
jmespath==0.10.0
joblib==0.14.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.16.6
pycparser==2.20
pyOpenSSL==20.0.1
PySocks==1.7.1
python-dateutil==2.8.2
regex==2019.12.9
requests==2.25.1
s3transfer==0.3.0
sacremoses==0.0.43
six==1.16.0
tqdm==4.63.0
transformers==2.1.1
urllib3==1.25.7
